body {
  font-size: 16px;
  color: #fff; 
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
} 
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin:0;
  line-height: .75;
}
#nav-list li {
  color: #951C49;
  text-align: center;
} 
.row{ 
	border-style: solid;
	height: 770px; 
	border-color: white; 
	font-size: 20px; 
	margin-top: 20px; 
	margin-left: 3px;
} 
.title{
	font-weight: bold; 
	margin-bottom: 10px; 
} 
.col-md-12, .col-xs-12, .col-lg-12{
	overflow: hidden; 
} 
.col-xs-12{
	margin-right: 50px;}